*{
	padding: 2px;
	margin: 2px;
	text-align: center;
	font-family: 'Ubuntu', sans-serif;
}
.html-rainbow-text span {
	display: inline-block;
	font-family: 'Ubuntu', sans-serif;
	font-weight: bold;
	font-size: 20px;
	text-shadow: #516685 6px 1px 10px;
	-webkit-text-stroke: 1.1px #000000;
}
.aligncenter {
    text-align: center;

}
.animated_rainbow_2 {
    font-size: 20px;
	font-family: 'Ubuntu', sans-serif;
    -webkit-animation: animatedBackground_b 5s linear infinite alternate;
}

@keyframes animatedBackground_b{
    0% {color: #ff8b00}
    10% {color: #e8ff00}
    20% {color: #5dff00}
    30% {color: #00ff2e}
    40% {color: #00ffb9}
    50% {color: #00b9ff}
    60% {color: #002eff}
    70% {color: #5d00ff}
    80% {color: #e800ff}
    90% {color: #ff008b}
    100% {color: #ff0000}
}
body{
	color: #dad3db;
	background-image: linear-gradient(rgba(0,0,0,0.50),rgba(0,0,0,0.50)),url("a.jpg");
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}
h1{
    text-align: center;
    font-size: 40px;

}
.par
{
    text-align: center;
    font-size: 25px;
}
.lpar{
    text-align: center;
    font-size: 25px;
}
.rpar{
    text-align: right;
    font-size: 25px;
}
.box{
	width: 900px;
	background: rgba(0, 0, 0, 0.411);
	padding: 20px;
	text-align: center;
	margin: auto;
	margin-top: 2%;
	color: #dad3db;
	border-radius: 10%;
}
.box1{
	width: 900px;
	background: rgba(0, 0, 0, 0.2);
	padding: 20px;
	text-align: center;
	margin: auto;
	margin-top: 2%;
	color: #dad3db;
	border-radius: 10%;
}
.box-img{
	border-radius: 50%;
	width: 200px;
	height: 200px;
}
a:link {
  color: rgb(73,153,234);
   text-decoration: none;
}

/* visited link */
a:visited {
  color: rgb(73,153,234);
   text-decoration: none;
}

/* mouse over link */
a:hover {
  color: rgb(27,53,155);
   text-decoration: none;
}

/* selected link */
a:active {
  color: rgb(27,53,155);
  text-decoration: none;

}
